@import "Master";

@font-face {
    font-family: Affigere-Regular;
    src: url("../resources/fonts/Affigere-Regular.otf");
}

@font-face {
    font-family: Redaction70-Regular;
    src: url("../resources/fonts/Redaction70-Regular.otf");
}

@font-face {
    font-family: Elvenes;
    src: url("../resources/fonts/Elvenes-BoldDisplay.ttf");
}

@font-face {
    font-family: Coconat-Bold;
    src: url("../resources/fonts/Coconat-BoldExt.woff");
}

@font-face {
    font-family: ApfelGrotezk;
    src: url("../resources/fonts/ApfelGrotezk-Brukt.woff");
}

@font-face {
    font-family: Jabin-Bold;
    src: url("../resources/fonts/Jabin-Bold.ttf");
}

@font-face {
    font-family: mainFont;
    src: url("../resources/fonts/Athelas-Regular.ttf");
}

@font-face {
    font-family: bookTitleFont;
    src: url("../resources/fonts/Vollkorn-Bold.ttf");
}

@font-face {
    font-family: bookSubTitleFont;
    src: url("../resources/fonts/Vollkorn-Semibold.ttf");
}

@font-face {
    font-family: bookDetailsFont;
    src: url("../resources/fonts/Vollkorn-Regular.ttf");
}

@font-face {
    font-family: Font2;
    src: url("../resources/fonts/Sinistre-SÔÇáCaroline.otf");
}

$replayColor1: #FD3C00;
$replayColor2: #FE318F;
$replayBackground: #E5E4E2;
$replayDark: #2B292A;

.banner-2023 {
    width: 80%;
    height: 10rem;
    background-color: #121212;
    color: $replayBackground;
    font-size: 6rem;
    text-align: center;
    margin: 1rem 0 3rem;
    border-radius: 1rem;

    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        position: absolute;
    }

    .blob {

        height: 1px;
        width: 1px;
        border-radius: 1rem;

    }

    .blob:nth-of-type(1) {
        left: 10%;
        margin-top: -10%;
        background-color: $replayColor1;
        box-shadow: 0px 2px 150px 150px $replayColor1;
        animation: blob1 10s infinite;
        animation-delay: 0;
    }

    @keyframes blob1 {
        0% {
            left: 10%;
        }

        50% {
            left: 5%;
        }

        100% {
            left: 10%;
        }
    }

    .blob:nth-of-type(2) {
        left: 50%;
        margin-top: 15%;
        background-color: $replayColor1;
        box-shadow: 0px 2px 150px 150px $replayColor2;

        animation: blob2 10s infinite;
        animation-delay: 0;
    }

    @keyframes blob2 {
        0% {
            box-shadow: 0px 2px 150px 150px $replayColor2;
            left: 50%;
            margin-top: 15%;
        }

        50% {
            box-shadow: 0px 2px 150px 180px $replayColor2;
            left: 45%;
            margin-top: 13%;
        }

        100% {
            box-shadow: 0px 2px 150px 150px $replayColor2;
            left: 50%;
            margin-top: 15%;
        }
    }

    .blob:nth-of-type(3) {
        left: 80%;
        margin-top: 15%;
        background-color: $replayColor1;
        box-shadow: 0px 2px 200px 250px $replayColor1;
        animation: blob3 10s infinite;
        animation-delay: 0;
    }

    @keyframes blob3 {
        0% {
            left: 80%;
        }

        50% {
            left: 70%;
        }

        100% {
            left: 80%;
        }
    }

    .arrow {
        animation: arrow 3s infinite;
        animation-delay: 0;
        transition-timing-function: ease;
    }

    @keyframes arrow {
        0% {
            margin-left: 0;
        }

        50% {
            margin-left: 1rem;
        }

        100% {
            margin-left: 0;
        }
    }

}

.banner-2023:hover {
    cursor: pointer;
}

.dark {
    background-color: #121212;
    color: #fff;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    gap: 2rem;
    padding-bottom: 10rem;
    margin: 0;
    width: 100%;

    position: absolute;
    top: 0;
}

.replay-page-title {
    font-size: 4rem;
    color: $replayColor1;
}

.about {
    font-size: 1.1rem;
    color: #fff;
    width: 85%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;


    h1 {
        font-size: 1.6rem;
        padding: 0.5rem 0;
        font-weight: bolder;
    }

    h2 {
        font-size: 1.3rem;
        padding-top: 0.7rem;
        // padding-bottom: 0.2rem;
        font-weight: bold;
    }

    p {
        font-size: 1.1rem;
    }

    span {
        all: unset;
        color: $replayColor1;
    }
}

.one {
    font-family:
        Affigere-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.two {
    font-family: Redaction70-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.three {
    font-family: Elvenes, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.four {
    font-family: Coconat-Bold, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.five {
    font-family: ApfelGrotezk, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.six {
    font-family: Jabin-Bold, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



ul {

    all: unset;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    li {
        all: unset;
        width: 80%;

        height: fit-content;
        padding: 0.5rem 1rem;
        border-radius: 15px;

        display: flex;
        flex-direction: column;
        gap: 0.7rem;

        color: $replayBackground;

        h1 {
            font-size: 1rem;
        }

        p {
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        svg {
            margin-top: -7rem;
            margin-left: 2rem;
        }
    }
}

.fade {
    box-shadow: none;
    border: none;
    background: none;

    transition: box-shadow 1s;
    transition: border 1s;
    transition: background-color 1s;
}

.white-text {
    color: $replayBackground;
}

.black-text {
    color: $replayDark
}

.orange-text {
    color: $replayColor1;
}

.pink-text {
    color: $replayColor2;
}

.orange {
    background-color: $replayColor1;
}

.pink {
    background-color: $replayColor2;
}

.white {
    background-color: $replayBackground;
    color: $replayDark;
}

.black {
    background-color: $replayDark;
    color: $replayBackground;
}

.no-background {
    background-color: none;
}

.upper {
    margin-top: -1.5rem;
}

.goal {
    font-size: 10rem;
    display: flex;
    justify-content: center;

    h2 {
        line-height: 80%;
    }

    h2:nth-of-type(1) {
        color: $replayColor1;
        text-shadow: -1px -1px 0 $replayBackground, 1px -1px 0 $replayBackground, -1px 1px 0 $replayBackground, 1px 1px 0 $replayBackground;
        ;
    }

    h2:nth-of-type(2) {
        font-size: 12rem;
        color: $replayBackground;
        margin-left: -5.5rem;
        margin-top: -2rem;

        position: relative;
        animation: mymove 7s infinite;
    }

    @keyframes mymove {
        0% {
            opacity: 0;
            left: -50px;
        }

        20% {
            opacity: 1;
            left: 0px;
        }
    }

    h2:nth-of-type(3) {
        margin-left: 0.5rem;
        animation: myappear 7s infinite;
        position: relative;
    }

    @keyframes myappear {
        0% {
            opacity: 0;
            //  left: -50px;
        }

        20% {
            opacity: 1;
            //  left: 0px;
        }
    }
}

.timeline {
    width: 100%;
    border-spacing: 0;
    border-radius: 10px;



    tr:nth-of-type(4n+0) {
        .line {
            background-color: $replayColor1;
        }
    }

    tr:nth-of-type(4n+1) {
        .line {
            background-color: #cf3b00
        }
    }

    tr:nth-of-type(4n+2) {
        .line {
            background-color: $replayColor2
        }
    }

    tr:nth-of-type(4n+3) {
        .line {
            background-color: #c4005b
        }
    }

    tr {
        height: 0.7rem;

        td:nth-of-type(4n):not(td:nth-last-of-type(1)),
        th:not(th:nth-last-of-type(1)) {
            border-right: 1px solid rgba(128, 128, 128, 0.4);
        }

    }

    td {
        font-size: 0.6rem;
        overflow: visible;
        width: 2.03%;

    }


    th {
        padding-bottom: 0.5rem;
    }

    .s-line {
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
    }

    .c-line {
        border-radius: 4px;
    }

    .e-line {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;

    }

    .title-to-left {
        direction: rtl;
    }

    .shown-title {
        font-size: 0.6rem;
        position: absolute;
        margin-top: -0.4rem;
        width: fit-content;
        direction: rtl;
    }

    td {
        border: none;
        border-top: 2px solid $replayBackground;
    }

    #show-titles {
        font-size: 0.7rem;
    }

    #show-titles:hover {
        cursor: pointer;
    }
}

.meta-genres {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .genre {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding-bottom: 0.5rem;


        h2 {
            font-size: 2rem;
            font-family:
                Affigere-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: $replayBackground;
        }
    }

    #pipes {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .pipe {
        height: 2rem;
        color: white;
        padding: 0.5rem 0.2rem;
        display: flex;
        align-content: flex-end;
        justify-content: center;
        border-radius: 12px;

    }

    #fiction .pipe {
        background-color: $replayColor1;
        animation: an1 7s infinite;
        position: relative;
        animation-delay: 0;
    }

    @keyframes an1 {
        0% {
            opacity: 0;
            left: -100px;
            //  width: 100%;
        }

        20% {
            opacity: 1;
            left: 0px;
            // width: 100%;
        }

        90% {
            opacity: 1;
            left: 0px;
            // width: 100%;
        }

        95% {
            opacity: 0;
            // width: 4rem;
        }

        100% {
            opacity: 0;
            left: 50px;
            //  width: 0rem;
        }
    }

    #non-fiction .pipe {
        background-color: $replayColor2;
        animation: an2 7s infinite;
        position: relative;
        animation-delay: 0;
    }

    @keyframes an2 {
        0% {
            opacity: 0;
            left: 50px;
        }

        20% {
            opacity: 1;
            left: 0px;
        }

        90% {
            opacity: 1;
            left: 0px;
        }

        100% {
            opacity: 0;
            left: -150px;
        }
    }

    #poetry .pipe {
        background-color: $replayBackground;
        animation: an3 7s infinite;
        position: relative;
        animation-delay: 0;
    }

    @keyframes an3 {
        0% {
            opacity: 0;
            left: -150px;
        }

        20% {
            opacity: 1;
            left: 0px;
        }

        90% {
            opacity: 1;
            left: 0px;
        }

        100% {
            opacity: 0;
            left: 90px;
        }
    }


}

.differential-genres {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;

    #dif-genres {
        display: flex;
        flex-direction: column;

        .genre-line {
            display: flex;
            flex-direction: row;
            padding: 0.1rem 0;
            gap: 0.5rem;

            .g-name {
                margin-top: -0.1rem;
                font-weight: bolder;

            }

            .line {
                background-color: $replayDark;
                border-radius: 5px;
                height: 0.8rem;

                p {
                    font-size: 0.8rem;
                    width: fit-content;
                }
            }
        }
    }
}

.all-genres {
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    border: 1px solid rgba(218, 218, 218, 0.6);
    border-radius: 7px;
    padding: 0.5rem 1rem;

    h2 {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .g-labels {
        font-size: 0.9rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2px;

        height: 42%;
        align-content: flex-start;

        p {
            background-color: rgb(232, 232, 232);
            color: gray;
            border-radius: 4px;
            padding: 1px 2px;
            height: fit-content;

        }

        p:hover {
            cursor: pointer;
        }
    }

    #two {
        gap: 4px;

        p {
            color: rgb(138, 28, 248);
        }

        p:hover {
            cursor: auto;
        }
    }
}

.pie-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    border-radius: 7px;

    .donut {
        width: 11rem;
        height: 11rem;
        border-radius: 10rem;

        .inner-circle {
            width: 8rem;
            height: 8rem;
            border-radius: 5rem;
            background-color: #fff;
            position: relative;
            top: 1.5rem;
            left: 1.5rem;
        }
    }

    .donut:nth-of-type(1) {
        animation: an4 10s infinite;
    }

    .donut:nth-of-type(2) {
        animation: an5 10s infinite;
    }

    @keyframes an4 {
        0% {
            //opacity: 0;
            rotate: 0deg;
        }

        80% {
            // opacity: 1;
            rotate: 0deg;
        }

        100% {
            // opacity: 1;
            rotate: 360deg;
        }

    }

    @keyframes an5 {
        0% {
            //opacity: 0;
            rotate: 0deg;
        }

        80% {
            // opacity: 1;
            rotate: 0deg;
        }

        100% {
            // opacity: 1;
            rotate: -360deg;
        }

    }

    #legend {
        width: 15rem;
        justify-content: center;
        display: flex;
        width: 100%;

        p {
            width: fit-content;
            padding: 2px 6px;
            border-radius: 15px;
            margin-right: 0.5rem;
            color: #000;
            //  font-weight: bold;
            font-size: 0.8rem;
        }
    }
}

.shorten {
    .content {
        width: 350px;
        position: absolute;
        left: -2rem;
    }

    padding-right: 0;
    height: 12rem;

    h1 {
        width: 50%;
    }
}

.total-pages {
    align-self: center;

    span {
        font-size: 8rem;
        line-height: 80%;
        font-family:
            Affigere-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    span:nth-of-type(1) {
        animation: an10 7s infinite;
        position: relative;
        animation-delay: 0;
    }

    span:nth-of-type(2) {
        animation: an11 7s infinite;
        position: relative;
        animation-delay: 0;
    }

    @keyframes an10 {
        0% {
            opacity: 0;
            top: -40px;
        }

        20% {
            opacity: 1;
            top: 0px;
        }

        90% {
            opacity: 1;
            top: 0px;
        }

        100% {
            opacity: 0;
            top: 40px;
        }
    }

    @keyframes an11 {
        0% {
            opacity: 0;
            bottom: -40px;
        }

        20% {
            opacity: 1;
            bottom: 0px;
        }

        90% {
            opacity: 1;
            bottom: 0px;
        }

        100% {
            opacity: 0;
            bottom: 40px;
        }
    }
}

ol.brp {
    all: unset;
    width: 95%;
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-content: stretch;
    margin-top: 3rem;

    li {
        all: unset;
        width: 40%;
        height: fit-content;
        padding: 0.5rem;
        border-radius: 15px;
        height: 12rem;


        display: flex;
        flex-direction: column;
        gap: 0.7rem;

        background-color: $replayBackground;
        color: $replayDark;

        h1 {
            font-size: 2.5rem;
            font-family:
                Affigere-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            line-height: 85%;

            span {
                font-size: 2.5rem;
                font-family:
                    Affigere-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


            }

            .r-ent {
                animation: an6 10s infinite;
                animation-delay: 0;
                position: relative;
            }

            @keyframes an6 {
                0% {
                    opacity: 0;
                    left: -100px;
                }

                10% {
                    opacity: 0;
                }

                20% {
                    opacity: 1;
                    left: 0;
                }

                100% {
                    opacity: 1;
                    left: 0;
                }
            }

            .l-ent {
                animation: an7 10s infinite;
                animation-delay: 0;
                position: relative;
            }

            @keyframes an7 {
                0% {
                    opacity: 0;
                    right: -100px;
                }

                10% {
                    opacity: 0;
                }

                20% {
                    opacity: 1;
                    right: 0;
                }

                100% {
                    opacity: 1;
                    right: 0;
                }
            }
        }

        h2 {
            font-size: 1rem;
            margin-top: -0.5rem;
            animation: an6 10s infinite;
            animation-delay: 1s;
            position: relative;
        }



        p {
            font-size: 1rem;
            align-self: flex-end;
            width: 3rem;
            text-align: end;

        }
    }
}

.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.g-y {
    display: flex;
    gap: 3px;

    .g-m {
        width: 8%;
        display: flex;
        flex-direction: column;
        // gap: 1px;
        justify-content: center;

        .g-seg {
            border-radius: 5px;

        }

        .g-seg:nth-of-type(3n+1) {
            background-color: $replayColor2;
        }

        .g-seg:nth-of-type(3n+2) {
            background-color: $replayColor1;
        }

        .g-seg:nth-of-type(3n+0) {
            background-color: $replayDark;
        }
    }
}

.legend {
    font-size: 0.7rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    gap: 5px;

    span:nth-of-type(1) {
        color: $replayColor2
    }

    span:nth-of-type(2) {
        color: $replayColor1
    }
}

@media only screen and (min-width: 960px) {
    ol {
        width: 800px;

        li {
            padding: 1rem;
            width: 35%;
            height: fit-content;

            h1 {
                line-height: normal;
            }
        }
    }

    .about {
        font-size: 1.6rem;
        color: #fff;
        width: 800px;
        padding: 2rem;
    }

    ul.replay {
        all: unset;
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .shorten {
        .content {
            width: 390px;
            position: absolute;
            left: 4rem;
        }

        padding-right: 0;
        height: 15rem;

        h1 {
            width: 50%;
        }
    }


    .g-y {
        display: flex;
        gap: 3px;
        justify-content: space-around;

        .g-m {
            width: 5%;
            display: flex;
            flex-direction: column;
            // gap: 1px;
            justify-content: center;

        }
    }
}

@media only screen and (max-width: 690px) {
    .banner-2023 {
        font-size: 4.5rem;

        .arrow {
            height: 3rem;
            width: 2rem;
        }

        .blob:nth-of-type(1) {
            left: 30%;
            //margin-top: -10%;
            background-color: $replayColor1;
            box-shadow: 0px 2px 50px 70px $replayColor1;
            animation: blob1 15s infinite;
            animation-delay: 0;
        }

        @keyframes blob1 {
            0% {
                left: 10%;
            }

            50% {
                left: 5%;
            }

            100% {
                left: 10%;
            }
        }

        .blob:nth-of-type(2) {
            left: 40%;
            margin-top: 15%;
            background-color: $replayColor1;
            box-shadow: 0px 2px 50px 50px $replayColor2;

            animation: blob2 15s infinite;
            animation-delay: 0;
        }

        @keyframes blob2 {
            0% {
                box-shadow: 0px 2px 50px 50px $replayColor2;
                left: 40%;
                margin-top: 15%;
            }

            50% {
                box-shadow: 0px 2px 50px 70px $replayColor2;
                left: 45%;
                margin-top: 13%;
            }

            100% {
                box-shadow: 0px 2px 50px 50px $replayColor2;
                left: 40%;
                margin-top: 15%;
            }
        }

        .blob:nth-of-type(3) {
            left: 80%;
            margin-top: 15%;
            background-color: $replayColor1;
            box-shadow: 0px 2px 90px 100px $replayColor1;
            animation: blob3 15s infinite;
            animation-delay: 0;
        }

        @keyframes blob3 {
            0% {
                margin-top: 15%;
            }

            50% {
                margin-top: -5%;
            }

            100% {
                margin-top: 15%;
            }
        }

    }

}

@media only screen and (max-width: 420px) {
    .banner-2023 {
        font-size: 3rem;
        height: 8rem;
        width: 85%;

        .arrow {
            height: 2rem;
            width: 1.5rem;
        }

    }
}