@import "Master";

@font-face {
    font-family: mainFont;
    src: url("../resources/fonts/Sinistre-SÔÇáCaroline.otf");
}

@font-face {
    font-family: bookTitleFont;
    src: url("../resources/fonts/Vollkorn-Bold.ttf");
}

@font-face {
    font-family: bookSubTitleFont;
    src: url("../resources/fonts/Vollkorn-Semibold.ttf");
}

@font-face {
    font-family: bookDetailsFont;
    src: url("../resources/fonts/Vollkorn-Regular.ttf");
}



.book-view-container {
    height: 27rem;
    width: 66rem;
    border-radius: 10px;
    display: flex;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    .close {
        opacity: 0.6;
        margin: 0.5rem;
        position: absolute;
        right: 0;
    }


}

.book-part-1 {
    height: 100%;
    width: 75%;
    padding: 1rem;
    display: flex;

    img {
        height: 25rem;

        background: rgba(255, 255, 255, 0.68);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;

    }

    .shadow {
        height: 25rem;
        width: 0.55rem;
        position: absolute;
        top: 1rem;
        left: 1.1rem;

        background: -webkit-linear-gradient(-50deg, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.2));
    }

    .light {
        height: 25rem;
        width: 0.1rem;
        position: absolute;
        top: 1rem;
        left: 1.7rem;

        background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
    }

    #two {
        height: 25rem;
        width: 0.2rem;
        position: absolute;
        top: 1rem;
        left: 1.5rem;

        background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.15));
    }


    .details {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        h1 {
            font-size: 1.9rem;
            margin-top: 0.5rem;
            font-family: bookTitleFont;
        }

        h2 {
            font-size: 1.5rem;
            margin-top: -1rem;
            font-family: bookSubTitleFont;
        }

        h3 {
            font-size: 1rem;
            margin-top: -0.5rem;

            span {
                opacity: 0.5;
            }
        }

        h4 {
            font-family: bookDetailsFont;
            max-height: 96px;
            overflow: hidden;
        }

        h1,
        h2,
        h3,
        h4 {
            margin-left: 1rem;
        }

        .info {
            display: flex;
            justify-content: space-around;
            margin-left: 1rem;
            font-family: bookDetailsFont;

            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
            border-top: 1px solid rgba(176, 176, 176, 0.344);
            border-bottom: 1px solid rgba(176, 176, 176, 0.344);

            p {
                font-size: 0.8rem;
            }

            p:nth-of-type(1) {
                font-weight: 600;
                font-size: 0.9rem;
                opacity: 0.4;
            }

            h5 {
                font-family: bookSubTitleFont;
                font-size: 1.3rem;
                margin-top: 0.3rem;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                gap: 0.2rem;

                .details-icon {
                    all: unset;
                    height: 1.5rem;
                    margin-top: 0.3rem;
                }
            }

            .language {
                width: fit-content;
                background-color: #000;
                color: #fff;
                font-family: bookSubTitleFont;
                border-radius: 5px;
                font-size: 1rem;
                padding: 3px;
                padding-bottom: 0;

            }


        }

        .genres {
            margin-left: 1rem;
            display: flex;
            flex-direction: row;
            gap: 0.2rem;
            flex-wrap: wrap;

            h4 {
                margin: 0;
            }
        }
    }
}

.book-part-2 {
    height: 100%;
    width: 25%;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    .stickers-zone {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 0.5rem 0;

        img {

            background: none;
            box-shadow: none;
            border: none;

        }


    }

    h1 {
        font-size: 1.2rem;
        font-family: bookSubTitleFont;
        margin-top: 1rem;
    }

    .review {
        font-size: 1rem;
        max-height: 15rem;
        overflow: scroll;
        overflow-x: hidden;
    }

    .star {
        width: 1.2rem;
        color: rgb(170, 170, 170);
    }

    span {
        opacity: 0.5;
    }


}