@import "Master";

@font-face {
    font-family: Affigere-Regular;
    src: url("../resources/fonts/Affigere-Regular.otf");
}

@font-face {
    font-family: Redaction70-Regular;
    src: url("../resources/fonts/Redaction70-Regular.otf");
}

@font-face {
    font-family: Elvenes;
    src: url("../resources/fonts/Elvenes-BoldDisplay.ttf");
}

@font-face {
    font-family: Coconat-Bold;
    src: url("../resources/fonts/Coconat-BoldExt.woff");
}

@font-face {
    font-family: ApfelGrotezk;
    src: url("../resources/fonts/ApfelGrotezk-Brukt.woff");
}

@font-face {
    font-family: Jabin-Bold;
    src: url("../resources/fonts/Jabin-Bold.ttf");
}

@font-face {
    font-family: mainFont;
    src: url("../resources/fonts/Athelas-Regular.ttf");
}

@font-face {
    font-family: bookTitleFont;
    src: url("../resources/fonts/Vollkorn-Bold.ttf");
}

@font-face {
    font-family: bookSubTitleFont;
    src: url("../resources/fonts/Vollkorn-Semibold.ttf");
}

@font-face {
    font-family: bookDetailsFont;
    src: url("../resources/fonts/Vollkorn-Regular.ttf");
}

@font-face {
    font-family: Font2;
    src: url("../resources/fonts/Sinistre-SÔÇáCaroline.otf");
}

$replayColor1: #FD3C00;
$replayColor2: #FE318F;
$replayBackground: #E5E4E2;
$replayDark: #2B292A;

.dark {
    background-color: #121212;
    color: #fff;
    margin-top: -35px;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    gap: 2rem;
}

.replay-page-title {
    font-size: 4rem;
    color: $replayColor1;
}

.about {
    font-size: 1.6rem;
    color: #fff;
    width: 300px;
    padding: 2rem;
}

.one {
    font-family:
        Affigere-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.two {
    font-family: Redaction70-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.three {
    font-family: Elvenes, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.four {
    font-family: Coconat-Bold, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.five {
    font-family: ApfelGrotezk, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.six {
    font-family: Jabin-Bold, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.year-books {
    height: fit-content;
    width: 96%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin-bottom: 1rem;

    transition: box-shadow 1s;
    transition: border 1s;
    transition: background-color 1s;

    .container {
        display: flex;
        flex-direction: column;
        gap: 0rem;
        align-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
    }

    .title {
        font-size: 3rem;
        color: #E5E4E2;
    }

    .display {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        transition: width 1s;
        height: 430px;


        .library {
            width: fit-content;
            height: fit-content;
            display: grid;
            grid-template-columns: auto auto auto;
            border: 4px solid #E5E4E2;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

            .month {
                border: 4px solid #E5E4E2;
                width: 6rem;
                height: 6rem;
                display: flex;
                flex-direction: column;
                align-content: space-between;
                justify-content: space-between;
                padding: 0;

                .tag {
                    background-color: #000;
                    font-size: 0.7rem;
                    padding: 1px 3px;
                    border-radius: 5px;
                    position: relative;
                    top: -0.6rem;
                    left: 2rem;
                    height: fit-content;
                    width: fit-content;
                }

                .books {
                    display: flex;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    align-items: flex-end;
                    justify-content: start;
                }

                .book {
                    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

                    background-color: #2B292A;
                    width: 0.6rem;
                    height: 4rem;
                }

                .book:nth-of-type(4n+1) {
                    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

                    background-color: #FD3C00;
                    width: 0.7rem;
                    height: 3.8rem;
                }

                .book:nth-of-type(4n+2) {
                    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

                    background-color: #ff5500;
                    width: 0.6rem;
                    height: 4.1rem;
                }

                .book:nth-of-type(4n+3) {
                    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

                    background-color: #cd0167;
                    width: 0.6rem;
                    height: 3.9rem;
                }

                .book:nth-of-type(4n) {
                    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

                    background-color: #FE318F;
                    width: 0.7rem;
                    height: 3.7rem;
                }

                .book:nth-of-type(7) {
                    animation: up 10s infinite;
                    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.7);

                    @keyframes up {
                        0% {
                            rotate: 0deg;
                            top: 0px;

                        }

                        10% {
                            rotate: 15deg;
                            top: -30px;


                        }

                        30% {
                            rotate: 15deg;
                            top: -30px;

                        }

                        40% {
                            rotate: 0deg;
                            top: 0px;

                        }

                        100% {
                            rotate: 0deg;
                            top: 0px;

                        }
                    }
                }

                .hovertext {
                    color: #000;
                    font-size: 0.8rem;
                }

                .book:hover {
                    cursor: pointer;
                    margin-bottom: 0.3rem;
                    margin-right: 0.2rem;
                    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.6);
                }
            }


        }


    }

    .move-to-side {
        width: 16rem;
        margin-left: 1rem;
        transition: width 1s;
    }
}

ul {
    all: unset;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    li {
        all: unset;
        width: 80%;
        height: fit-content;
        padding: 0.5rem 1rem;
        border-radius: 15px;

        display: flex;
        flex-direction: column;
        gap: 0.7rem;

        color: $replayBackground;

        h1 {
            font-size: 1rem;
        }

        p {
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        svg {
            margin-top: -7rem;
            margin-left: 2rem;
        }
    }
}

.fade {
    box-shadow: none;
    border: none;
    background: none;

    transition: box-shadow 1s;
    transition: border 1s;
    transition: background-color 1s;
}


.white-text {
    color: $replayBackground;
}

.black-text {
    color: $replayDark
}

.orange-text {
    color: $replayColor1;
}

.pink-text {
    color: $replayColor2;
}

.orange {
    background-color: $replayColor1;
}

.pink {
    background-color: $replayColor2;
}

.white {
    background-color: $replayBackground;
    color: $replayDark;
}

.black {
    background-color: $replayDark;
    color: $replayBackground;
}

.no-background {
    background-color: none;
}

.goal {
    font-size: 10rem;
    display: flex;
    justify-content: center;

    h2:nth-of-type(1) {
        color: $replayColor1;
        text-shadow: -1px -1px 0 $replayBackground, 1px -1px 0 $replayBackground, -1px 1px 0 $replayBackground, 1px 1px 0 $replayBackground;
        ;
    }

    h2:nth-of-type(2) {
        font-size: 12rem;
        color: $replayBackground;
        margin-left: -5.5rem;
        margin-top: -2rem;

        position: relative;
        animation: mymove 7s infinite;
    }

    @keyframes mymove {
        0% {
            opacity: 0;
            left: -50px;
        }

        20% {
            opacity: 1;
            left: 0px;
        }
    }

    h2:nth-of-type(3) {
        margin-left: 0.5rem;
        animation: myappear 7s infinite;
        position: relative;
    }

    @keyframes myappear {
        0% {
            opacity: 0;
            //  left: -50px;
        }

        20% {
            opacity: 1;
            //  left: 0px;
        }
    }
}

.timeline {
    width: 100%;
    border-spacing: 0;
    border-radius: 10px;

    tr:nth-of-type(4n+0) {
        .line {
            background-color: $replayColor1;
        }
    }

    tr:nth-of-type(4n+1) {
        .line {
            background-color: #cf3b00
        }
    }

    tr:nth-of-type(4n+2) {
        .line {
            background-color: $replayColor2
        }
    }

    tr:nth-of-type(4n+3) {
        .line {
            background-color: #c4005b
        }
    }

    tr {
        height: 0.7rem;

        td:nth-of-type(4n):not(td:nth-last-of-type(1)),
        th:not(th:nth-last-of-type(1)) {
            border-right: 1px solid rgba(128, 128, 128, 0.4);
        }

    }

    td {
        font-size: 0.6rem;
        overflow: visible;
        width: 2.03%;

    }


    th {
        padding-bottom: 0.5rem;
    }

    .s-line {
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
    }

    .c-line {
        border-radius: 4px;
    }

    .e-line {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;

    }

    .title-to-left {
        direction: rtl;
    }

    .shown-title {
        font-size: 0.6rem;
        position: absolute;
        margin-top: -0.4rem;
        width: fit-content;
        direction: rtl;
    }

    td {
        border: none;
        border-top: 2px solid $replayBackground;
    }

    #show-titles {
        font-size: 0.7rem;
    }

    #show-titles:hover {
        cursor: pointer;
    }
}

.meta-genres {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .genre {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding-bottom: 0.5rem;


        h2 {
            font-size: 2rem;
            font-family:
                Affigere-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: $replayBackground;
        }
    }

    #pipes {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .pipe {
        height: 2rem;
        color: white;
        padding: 0.5rem 0.2rem;
        display: flex;
        align-content: end;
        justify-content: center;
        border-radius: 15px;

    }

    #fiction .pipe {
        background-color: $replayColor1;
        animation: an1 7s infinite;
        position: relative;
        animation-delay: 0;
    }

    @keyframes an1 {
        0% {
            opacity: 0;
            left: -100px;
            //  width: 100%;
        }

        20% {
            opacity: 1;
            left: 0px;
            // width: 100%;
        }

        90% {
            opacity: 1;
            left: 0px;
            // width: 100%;
        }

        95% {
            opacity: 0;
            // width: 4rem;
        }

        100% {
            opacity: 0;
            left: 180px;
            //  width: 0rem;
        }
    }

    #non-fiction .pipe {
        background-color: $replayColor2;
        animation: an2 7s infinite;
        position: relative;
        animation-delay: 0;
    }

    @keyframes an2 {
        0% {
            opacity: 0;
            left: 50px;
        }

        20% {
            opacity: 1;
            left: 0px;
        }

        90% {
            opacity: 1;
            left: 0px;
        }

        100% {
            opacity: 0;
            left: -150px;
        }
    }

    #poetry .pipe {
        background-color: $replayBackground;
        animation: an3 7s infinite;
        position: relative;
        animation-delay: 0;
    }

    @keyframes an3 {
        0% {
            opacity: 0;
            left: -150px;
        }

        20% {
            opacity: 1;
            left: 0px;
        }

        90% {
            opacity: 1;
            left: 0px;
        }

        100% {
            opacity: 0;
            left: 90px;
        }
    }


}

.differential-genres {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;

    #dif-genres {
        display: flex;
        flex-direction: column;

        .genre-line {
            display: flex;
            flex-direction: row;
            padding: 0.1rem 0;
            gap: 0.5rem;

            .g-name {
                margin-top: -0.1rem;
                font-weight: bolder;

            }

            .line {
                background-color: $replayDark;
                border-radius: 5px;
                height: 0.8rem;

                p {
                    font-size: 0.8rem;
                    width: fit-content;
                }
            }
        }
    }
}

.all-genres {
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    border: 1px solid rgba(218, 218, 218, 0.6);
    border-radius: 7px;
    padding: 0.5rem 1rem;

    h2 {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .g-labels {
        font-size: 0.9rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2px;

        height: 42%;
        align-content: flex-start;

        p {
            background-color: rgb(232, 232, 232);
            color: gray;
            border-radius: 4px;
            padding: 1px 2px;
            height: fit-content;

        }

        p:hover {
            cursor: pointer;
        }
    }

    #two {
        gap: 4px;

        p {
            color: rgb(138, 28, 248);
        }

        p:hover {
            cursor: auto;
        }
    }
}

.pie-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    border-radius: 7px;

    .donut {
        width: 11rem;
        height: 11rem;
        border-radius: 10rem;

        .inner-circle {
            width: 8rem;
            height: 8rem;
            border-radius: 5rem;
            background-color: #fff;
            position: relative;
            top: 1.5rem;
            left: 1.5rem;
        }
    }

    .donut:nth-of-type(1) {
        animation: an4 10s infinite;
    }

    .donut:nth-of-type(2) {
        animation: an5 10s infinite;
    }

    @keyframes an4 {
        0% {
            //opacity: 0;
            rotate: 0deg;
        }

        80% {
            // opacity: 1;
            rotate: 0deg;
        }

        100% {
            // opacity: 1;
            rotate: 360deg;
        }

    }

    @keyframes an5 {
        0% {
            //opacity: 0;
            rotate: 0deg;
        }

        80% {
            // opacity: 1;
            rotate: 0deg;
        }

        100% {
            // opacity: 1;
            rotate: -360deg;
        }

    }

    #legend {
        width: 15rem;
        justify-content: center;
        display: flex;
        width: 100%;

        p {
            width: fit-content;
            padding: 2px 6px;
            border-radius: 15px;
            margin-right: 0.5rem;
            color: #000;
            //  font-weight: bold;
            font-size: 0.8rem;
        }
    }
}

.shorten {
    .content {
        width: 390px;
        position: absolute;
        left: -2rem;
    }

    padding-right: 0;
    height: 12rem;

    h1 {
        width: 50%;
    }
}

.total-pages {
    align-self: center;

    span {
        font-size: 8rem;

        font-family:
            Affigere-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    span:nth-of-type(1) {
        animation: an10 7s infinite;
        position: relative;
        animation-delay: 0;
    }

    span:nth-of-type(2) {
        animation: an11 7s infinite;
        position: relative;
        animation-delay: 0;
    }

    @keyframes an10 {
        0% {
            opacity: 0;
            top: -40px;
        }

        20% {
            opacity: 1;
            top: 0px;
        }

        90% {
            opacity: 1;
            top: 0px;
        }

        100% {
            opacity: 0;
            top: 40px;
        }
    }

    @keyframes an11 {
        0% {
            opacity: 0;
            bottom: -40px;
        }

        20% {
            opacity: 1;
            bottom: 0px;
        }

        90% {
            opacity: 1;
            bottom: 0px;
        }

        100% {
            opacity: 0;
            bottom: 40px;
        }
    }
}

ol {
    all: unset;
    width: 95%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-content: stretch;
    margin-top: 3rem;

    li:nth-of-type(1),
    li:nth-of-type(2) {
        height: 12.5rem;
    }

    li:nth-of-type(3),
    li:nth-of-type(4) {
        height: 13.2rem;
    }

    li {
        all: unset;
        width: 40%;
        height: fit-content;
        padding: 0.5rem;
        border-radius: 15px;

        display: flex;
        flex-direction: column;
        gap: 0.7rem;

        background-color: $replayBackground;
        color: $replayDark;

        h1 {
            font-size: 2.5rem;
            font-family:
                Affigere-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

            span {
                font-size: 2.5rem;
                font-family:
                    Affigere-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


            }

            .pink-text {
                animation: an6 10s infinite;
                animation-delay: 0;
                position: relative;
            }

            @keyframes an6 {
                0% {
                    opacity: 0;
                    left: -100px;
                }

                10% {
                    opacity: 0;
                }

                20% {
                    opacity: 1;
                    left: 0;
                }

                100% {
                    opacity: 1;
                    left: 0;
                }
            }

            .orange-text {
                animation: an7 10s infinite;
                animation-delay: 0;
                position: relative;
            }

            @keyframes an7 {
                0% {
                    opacity: 0;
                    right: -100px;
                }

                10% {
                    opacity: 0;
                }

                20% {
                    opacity: 1;
                    right: 0;
                }

                100% {
                    opacity: 1;
                    right: 0;
                }
            }
        }

        h2 {
            font-size: 1rem;
            margin-top: -0.5rem;
            animation: an6 10s infinite;
            animation-delay: 0;
            position: relative;
        }



        p {
            font-size: 1rem;
            align-self: flex-end;

        }
    }
}

.reveal:nth-of-type(2n+0) {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal:nth-of-type(2n+1) {
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateX(0);
    opacity: 1;
}



@media only screen and (min-width: 960px) {
    .year-books {
        height: fit-content;
        width: 96%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: flex-start;

        .title {
            align-self: center;
        }

        .container {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            padding-left: 2rem;
        }



        .display {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            transition: width 1s;
            height: 430px;
        }

        .move-to-side {
            width: 20rem;
            margin-left: 1rem;
            transition: width 1s;
        }
    }

    .book-view-container {
        height: 27rem;
        width: 66rem;
        margin: 0;
        padding: 0;
        border-radius: 15px;
        display: flex;

        background-color: #E5E4E2;

        color: #000;

        .close {
            opacity: 0.6;
            margin: 0.5rem;
            position: relative;

        }

    }

    .book-part-1 {
        height: 100%;
        width: 75%;
        padding: 1rem;
        display: flex;

        #cover {
            height: 25rem;
            margin-top: 0rem;
        }

        img {
            height: 25rem;

            background: rgba(255, 255, 255, 0.68);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;

        }

        .shadow {
            height: 25rem;
            width: 0.15rem;
            position: relative;
            top: -25.25rem;
            left: 0rem;
            border-radius: 2px;

            background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
        }

        .light {
            height: 25rem;
            width: 0.1rem;
            position: relative;
            top: -50.25rem;
            left: 0.7rem;
            border-radius: 2px;
            // background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.3));


            background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.15));
        }

        .light-comp {
            height: 24.9rem;
            width: 0.1rem;
            position: relative;
            top: -125.4rem;
            left: 0.54rem;

            background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.01));
        }

        .light-3 {
            height: 24.7rem;
            width: 0.15rem;
            position: relative;
            top: -100.55rem;
            left: 98.8%;
            border-radius: 2px;

            background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.01));
        }

        .light-reverse {
            height: 25rem;
            width: 0.2rem;
            position: relative;
            top: -75.45rem;
            left: 0.3rem;

            background: -webkit-linear-gradient(-170deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.0), rgba(0, 0, 0, 0));
        }

        .light-2 {
            height: 0.25rem;
            width: 99%;
            position: relative;
            top: -75.25rem;
            left: 0rem;
            border-radius: 2px;

            background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.01), );
        }

        .shadow-2 {
            height: 0.2rem;
            width: 97%;
            position: relative;
            top: -75.7rem;
            left: 0.05rem;
            border-radius: 2px;


            background: -webkit-linear-gradient(-90deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2));
        }

        .mega-shadow {
            height: 5rem;
            width: 100%;
            position: relative;
            top: -130.3rem;
            left: 0rem;
            border-bottom-right-radius: 7px;
            border-bottom-left-radius: 2px;


            background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0), );
        }

        .mega-light {
            height: 7rem;
            width: 100%;
            position: relative;
            top: -155.3rem;
            left: 0rem;
            border-radius: 4px;


            background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0), );
        }

        .details {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 90%;
            padding-left: 1rem;


            h1 {
                font-size: 1.5rem;
                margin-top: 1rem;
                font-family: bookTitleFont;
                display: flex;
            }

            h2 {
                font-size: 1.3rem;
                margin-top: -1rem;
                font-family: bookSubTitleFont;
                display: flex;
            }

            h3 {
                font-size: 1rem;
                margin-top: -0.5rem;
                display: flex;

                span {
                    opacity: 0.5;
                }
            }

            h4 {
                font-family: bookDetailsFont;
                max-height: 143px;
                overflow: hidden;
                width: 100%;
                font-weight: 1rem;
            }


            h1,
            h2,
            h3,
            h4 {
                margin-left: 0rem;
            }




            .info {

                display: flex;
                justify-content: space-between;

                font-family: bookDetailsFont;

                padding-top: 0.3rem;
                padding-bottom: 0.3rem;
                border-top: 1px solid rgba(176, 176, 176, 0.344);
                border-bottom: 1px solid rgba(176, 176, 176, 0.344);

                p {
                    font-size: 0.8rem;
                }

                p:nth-of-type(1) {
                    font-weight: 600;
                    font-size: 0.9rem;
                    opacity: 0.4;
                }

                h5 {
                    font-family: bookSubTitleFont;
                    font-size: 1.3rem;
                    margin-top: 0.3rem;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    gap: 0.2rem;

                    .details-icon {
                        all: unset;
                        height: 1.5rem;
                        margin-top: 0.3rem;
                    }
                }

                .language {
                    width: fit-content;
                    background-color: #000;
                    color: #fff;
                    font-family: bookSubTitleFont;
                    border-radius: 5px;
                    font-size: 1rem;
                    padding: 3px;
                    padding-bottom: 0;

                }


            }

            .genres {
                display: flex;
                flex-direction: row;
                gap: 0.2rem;
                flex-wrap: wrap;

                h4 {
                    margin: 0;
                }
            }
        }
    }

    .book-part-2 {
        height: 100%;
        width: 25%;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        padding: 1rem;
        display: flex;
        gap: 0.3rem;

        .stickers-zone {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            padding: 0.5rem 0;

            img {

                background: none;
                box-shadow: none;
                border: none;

            }


        }

        h1 {
            font-size: 1.2rem;
            font-family: bookSubTitleFont;
            margin-top: 1rem;
        }

        .review {
            font-size: 1rem;
            max-height: 15rem;
            overflow: scroll;
            overflow-x: hidden;
        }

        .star {
            width: 1.2rem;
            color: rgb(170, 170, 170);
        }

        span {
            opacity: 0.5;
        }


    }

    ol {
        width: 800px;

        li {
            padding: 1rem;
            width: 35%;
            height: fit-content;
        }
    }

    .about {
        font-size: 1.6rem;
        color: #fff;
        width: 800px;
        padding: 2rem;
    }

    ul {
        all: unset;
        width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .shorten {
        .content {
            width: 390px;
            position: absolute;
            left: 8rem;
        }

        padding-right: 0;
        height: 15rem;

        h1 {
            width: 50%;
        }
    }
}

/*
@media only screen and (max-width: 840px) {

    .stats {
        display: flex;
        // flex-direction: column;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        width: 90%;
    }

    .timeline {
        width: 100%;
        margin: 0;
    }


    .meta-genres {
        width: 14.9rem;
        border: none;
        height: fit-content;
        padding: 0.7rem;

        h2 {
            font-size: 1.2rem;
        }

        .pipe {
            width: 2.5rem;
            font-size: 1.25rem;
            margin-bottom: 2px;
        }
    }

    .differential-genres {
        width: 100%;
        border: none;
        height: fit-content;
        padding: 0.7rem;

        h2 {
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }

        #dif-genres {
            .genre-line {
                .g-name {
                    width: 32%;
                    font-size: 0.8rem;
                }

                .line {
                    background-color: rgb(125, 105, 213);
                    border-radius: 5px;
                    height: 0.6rem;

                    p {
                        font-size: 0.5rem;
                        width: fit-content;
                    }
                }
            }

        }
    }


    .stats-plus {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 15rem;
        padding: 1rem;

        .pie-container {

            h2 {
                font-size: 1.2rem;
            }

            .donut {
                width: 7rem;
                height: 7rem;

                .inner-circle {
                    width: 4.5rem;
                    height: 4.5rem;
                    top: 1.25rem;
                    left: 1.25rem;
                }
            }

            #legend {
                width: 10rem;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 3px;
            }
        }
    }

    .modular-content {
        padding: 0.7rem;

        h2 {
            font-size: 1.2rem;
        }

        .goal {
            h1 {
                font-size: 4.5rem;
                letter-spacing: -0.6rem;
            }

            h1:nth-of-type(2) {
                margin-left: -2.5rem;
            }
        }

        p {
            font-size: 12px;
        }

        .total-pages {
            font-size: 5rem;
        }
    }

    .smlr {
        width: 6rem;
        padding: 0.7rem;

        h2 {
            margin: 0 auto;
        }
    }
}*/