@import "Master";

@font-face {
    font-family: Font2;
    src: url("../resources/fonts/Sinistre-SÔÇáCaroline.otf");
}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.68);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    width: 100vw;
    height: 100vh;
    position: absolute;
}

.landingTitle {
    font-size: 5rem;
    font-family: Font2;
    color: #000;
    position: absolute;
    top: 18rem;
    width: fit-content;
    align-self: center;
    word-spacing: 7rem;
}

.about-me {
    //color: rgb(102, 47, 255);
    position: absolute;
    top: 25rem;
    width: 50%;
    text-align: center;
}


.landingDiv {
    width: 70%,
}

.blob:nth-of-type(1) {
    position: absolute;
    top: 50%;

    height: 5px;
    width: 5px;
    border-radius: 10rem;
    background-color: rgb(102, 47, 255);
    box-shadow: 0px 2px 150px 150px rgb(102, 47, 255);
}

.blob:nth-of-type(2) {
    height: 1px;
    width: 1px;
    border-radius: 10rem;
    background-color: rgb(104, 8, 239);
    position: relative;
    top: 58rem;
    left: 38rem;
    box-shadow: 0px 2px 100px 70px rgb(104, 8, 239);
}

@media screen and (max-width: 400px) {
    .landingTitle {
        font-size: 3rem;
        top: 18rem;
        width: 100%;
        word-spacing: 5rem;
        text-align: center;
    }

    .about-me {
        top: 24rem;
        width: 60%;
        text-align: center;
    }


    .blob:nth-of-type(1) {
        top: 39%;
    }
}