@import "Master";

@font-face {
    font-family: mainFont;
    src: url("../resources/fonts/Sinistre-SÔÇáCaroline.otf");
}


.landingTitle {
    font-size: 15rem;
    font-family: mainFont;
    color: greenyellow;
}

.landingDiv {
    width: 70%,
}

@media screen and (max-width: 768px) {
    .landingTitle {
        font-size: 2.5rem;
        margin-left: -3rem;
        margin-top: -9rem;
        width: 100%;
    }


    .landingDiv {
        width: 60%;
        margin-left: 0;
        padding-left: 0;
    }

    .start {
        height: 3rem;
        width: 90%;

        font-size: larger;
        margin-left: -0rem;

    }


}


.blob:nth-of-type(1) {
    height: 1px;
    width: 1px;
    border-radius: 10rem;
    background-color: rgb(112, 20, 210);
    position: relative;
    top: 48rem;
    left: 11rem;
    box-shadow: 0px 2px 100px 70px rgb(112, 20, 210);
}

.blob:nth-of-type(2) {
    height: 1px;
    width: 1px;
    border-radius: 10rem;
    background-color: rgb(104, 8, 239);
    position: relative;
    top: 58rem;
    left: 38rem;
    box-shadow: 0px 2px 100px 70px rgb(104, 8, 239);
}

@media screen and (max-width: 768px) {

    .blob:nth-of-type(1) {
        top: 47rem;
        left: 4rem;
        box-shadow: 0px 2px 100px 60px rgb(112, 20, 210);
    }

    .blob:nth-of-type(2) {
        top: 78rem;
        left: 10rem;
        box-shadow: 0px 2px 100px 60px rgb(104, 8, 239);
    }
}