@import "Master";

@font-face {
    font-family: mainFont;
    src: url("../resources/fonts/Athelas-Regular.ttf");
}

@font-face {
    font-family: bookTitleFont;
    src: url("../resources/fonts/Vollkorn-Bold.ttf");
}

@font-face {
    font-family: bookSubTitleFont;
    src: url("../resources/fonts/Vollkorn-Semibold.ttf");
}

@font-face {
    font-family: bookDetailsFont;
    src: url("../resources/fonts/Vollkorn-Regular.ttf");
}

@font-face {
    font-family: Font2;
    src: url("../resources/fonts/Sinistre-SÔÇáCaroline.otf");
}


.timeline {
    width: 100%;
    border-spacing: 0;
    padding: 1rem;
    border-radius: 10px;

    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    tr:nth-of-type(4n+0) {
        .line {
            background-color: rgb(93, 6, 144);
            color: rgb(93, 6, 144);
        }
    }

    tr:nth-of-type(4n+1) {
        .line {
            background-color: rgb(110, 34, 225);
            color: rgb(110, 34, 225);
        }
    }

    tr:nth-of-type(4n+2) {
        .line {
            background-color: rgb(158, 77, 245);
            color: rgb(158, 77, 245);
        }
    }

    tr:nth-of-type(4n+3) {
        .line {
            background-color: rgb(161, 132, 223);
            color: rgb(161, 132, 223);
        }
    }

    tr {
        height: 0.7rem;

        td:nth-of-type(4n):not(td:nth-last-of-type(1)),
        th:not(th:nth-last-of-type(1)) {
            border-right: 1px solid rgba(128, 128, 128, 0.4);
        }

    }

    td {
        font-size: 0.6rem;
        overflow: visible;
        width: 2.03%;
    }

    th {
        padding-bottom: 0.5rem;
    }

    .s-line {
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
    }

    .c-line {
        border-radius: 4px;
    }

    .e-line {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;

    }

    .e-line:after,
    .c-line:after {
        content: attr(data-title);
        visibility: visible;
        width: fit-content;
        margin-left: 1.8rem;
        margin-top: -0.4rem;
        position: absolute;
    }



    td {
        border: none;
        border-top: 2px solid rgb(255, 255, 255);
    }

    #show-titles {
        font-size: 0.7rem;
    }

    #show-titles:hover {
        cursor: pointer;
    }
}



.meta-genres {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    height: 25rem;

    border-radius: 10px;

    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(255, 255, 255, 0.18);


    h2 {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .genre {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }

    #pipes {
        display: flex;
        justify-content: space-around;
    }

    .pipe {
        width: 3rem;
        color: white;
        font-size: 1.5rem;
        padding: 0.5rem 0.2rem;
        display: flex;
        align-content: end;
        justify-content: center;
        border-radius: 5px;

    }

    #fiction {
        background-color: rgb(102, 11, 199);
    }

    #non-fiction {
        background-color: rgb(116, 44, 184);
    }

    #poetry {
        background-color: rgb(149, 69, 235);
    }
}

.differential-genres {
    width: 32.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem 2rem;
    height: 25rem;

    border-radius: 10px;

    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(255, 255, 255, 0.18);


    h2 {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-bottom: 1rem;
    }

    #dif-genres {
        display: flex;
        flex-direction: column;

        .genre-line {
            display: flex;
            flex-direction: row;
            padding: 0.1rem 0;

            .g-name {
                width: 29%;
            }

            .line {
                background-color: rgb(125, 105, 213);
                border-radius: 5px;
                height: 0.8rem;

                p {
                    font-size: 0.8rem;
                    width: fit-content;
                }
            }
        }
    }
}

.all-genres {
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    border: 1px solid rgba(218, 218, 218, 0.6);
    border-radius: 7px;
    padding: 0.5rem 1rem;

    h2 {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .g-labels {
        font-size: 0.9rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2px;

        height: 42%;
        align-content: flex-start;

        p {
            background-color: rgb(232, 232, 232);
            color: gray;
            border-radius: 4px;
            padding: 1px 2px;
            height: fit-content;

        }

        p:hover {
            cursor: pointer;
        }
    }

    #two {
        gap: 4px;

        p {
            color: rgb(138, 28, 248);
        }

        p:hover {
            cursor: auto;
        }
    }
}


.stats-plus {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;

    border-radius: 10px;

    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    .pie-container {
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 1rem;

        // border: 1px solid rgba(218, 218, 218, 0.6);
        border-radius: 7px;
        padding: 0rem 1rem;

        h2 {
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            align-content: center;
        }

        .donut {
            width: 12rem;
            height: 12rem;
            border-radius: 10rem;

            .inner-circle {
                width: 8rem;
                height: 8rem;
                border-radius: 5rem;
                background-color: #fff;
                position: relative;
                top: 2rem;
                left: 2rem;
            }
        }

        #legend {
            width: 15rem;
            justify-content: center;
            margin-bottom: 2.5rem;

            p {
                padding: 2px 4px;
                border-radius: 5px;
                margin-right: 0.5rem;
                color: #fff;
                //  font-weight: bold;
                font-size: 0.8rem;
            }
        }
    }

}

.modular-content {
    display: flex;
    align-items: center;
    width: fit-content;
    flex-direction: column;
    padding: 1rem;

    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    h2 {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .goal {
        h1 {
            font-size: 7rem;
            font-weight: bolder;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            letter-spacing: -0.8rem;
        }

        h1:nth-of-type(1) {
            color: white;
            text-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);

        }

        h1:nth-of-type(2) {
            color: rgb(109, 33, 216);
            margin-left: -3rem;
        }


    }

    p {
        color: rgb(109, 33, 216);
    }

    .total-pages {
        font-size: 7rem;
        font-weight: bolder;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: -0.5rem;
        color: #6d21d8;

        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    .f-book {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;

        li {
            all: unset;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-top: 3rem;
        }

        h3 {
            font-size: 1.5rem;
            font-family: bookTitleFont;
        }

        h2 {
            font-size: 1rem;
        }

        .favourite-year {
            width: fit-content;
            height: 10rem;
            position: inherit;
            background-color: antiquewhite;

            .img {
                height: 10rem;
                box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);

                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            .shadow {
                height: 10rem;
                width: 0.5rem;
                position: relative;
                top: -10.22rem;
                left: 0rem;

                background: -webkit-linear-gradient(-40deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.15));
            }

            .light {
                height: 10rem;
                width: 0.07rem;
                position: relative;
                top: -20.22rem;
                left: 0.55rem;

                background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.5));
            }
        }
    }
}

@media only screen and (max-width: 840px) {

    .stats {
        display: flex;
        // flex-direction: column;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        width: 90%;
    }

    .timeline {
        width: 100%;
        margin: 0;
    }


    .meta-genres {
        width: 14.9rem;
        border: none;
        height: fit-content;
        padding: 0.7rem;

        h2 {
            font-size: 1.2rem;
        }

        .pipe {
            width: 2.5rem;
            font-size: 1.25rem;
            margin-bottom: 2px;
        }
    }

    .differential-genres {
        width: 100%;
        border: none;
        height: fit-content;
        padding: 0.7rem;

        h2 {
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }

        #dif-genres {
            .genre-line {
                .g-name {
                    width: 32%;
                    font-size: 0.8rem;
                }

                .line {
                    background-color: rgb(125, 105, 213);
                    border-radius: 5px;
                    height: 0.6rem;

                    p {
                        font-size: 0.5rem;
                        width: fit-content;
                    }
                }
            }

        }
    }


    .stats-plus {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 15rem;
        padding: 1rem;

        .pie-container {

            h2 {
                font-size: 1.2rem;
            }

            .donut {
                width: 7rem;
                height: 7rem;

                .inner-circle {
                    width: 4.5rem;
                    height: 4.5rem;
                    top: 1.25rem;
                    left: 1.25rem;
                }
            }

            #legend {
                width: 10rem;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 3px;
            }
        }
    }

    .modular-content {
        padding: 0.7rem;

        h2 {
            font-size: 1.2rem;
        }

        .goal {
            h1 {
                font-size: 4.5rem;
                letter-spacing: -0.6rem;
            }

            h1:nth-of-type(2) {
                margin-left: -2.5rem;
            }
        }

        p {
            font-size: 12px;
        }

        .total-pages {
            font-size: 5rem;
        }
    }

    .smlr {
        width: 6rem;
        padding: 0.7rem;

        h2 {
            margin: 0 auto;
        }
    }
}


.up {
    position: relative;
    top: -35.1rem;
    left: 0rem;
    padding: 1rem 0;

    h2 {
        margin-bottom: -3.5rem;
    }
}

.up-two {
    position: relative;
    top: -11.75rem;
    //left: -36.1rem;
    right: 15.8rem;
}

.upper {
    position: relative;
    top: -41.8rem;
    left: 0rem;
    padding: 1rem 0.5rem;
    width: 12.1rem;

    .f-book {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        flex-direction: column;
        align-items: center;

        li {
            all: unset;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        h3 {
            font-size: 1.5rem;
            font-family: bookTitleFont;
            width: 7rem;
        }

        h2 {
            font-size: 1rem;
        }

        .favourite-year {
            width: fit-content;
            height: 10rem;
            position: inherit;
            background-color: antiquewhite;

            .img {
                height: 10rem;
                box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);

                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            .shadow {
                height: 10rem;
                width: 0.5rem;
                position: relative;
                top: -10.22rem;
                left: 0rem;

                background: -webkit-linear-gradient(-40deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.15));
            }

            .light {
                height: 10rem;
                width: 0.07rem;
                position: relative;
                top: -20.22rem;
                left: 0.55rem;

                background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.5));
            }
        }
    }

}